<footer>
    <div class="logo"></div>
    <div id="address">
       Aarhusgade 129,<br>
       DK-2150 Nordhavn<br>
       CVR: DK35809341<br>
       <a href="mailto:info@nsquid.co">info@nsquid.co</a>
    </div>
    <div class="spacing"></div>
    <div class="right">
        <nav> 
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="https://payment.nsquid.co/tos">Terms of Service</a>
        </nav>
        <div id="social">
            <a href="https://www.facebook.com/newsquid1" target="_blank" class="facebook"></a>
            <a href="https://www.linkedin.com/company/5115192" target="_blank" class="linkedin"></a>
        </div>
    </div>
    <div id="copyrights">
       Copyright &copy; 2013-2014 Newsquid (Henceforward Media Group ApS).
       All rights reserved.
    </div>
</footer>
